<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css"/>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <script src="../dist/leaflet-ng.js"></script>

    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>

</head>
<body ng-app="example" ng-controller="exampleCtrl">
<leaflet id="map" lf-center="center" lf-defaults="defaults" lf-markers="markers"></leaflet>
{{ markers }}

<div ng-repeat="m in markers">
    <ul>
        <li>lat <input type="number" ng-model="m.lat"></li>
        <li>lng <input type="number" ng-model="m.lng"></li>
    </ul>
</div>

</body>

<script>
    angular.module('example', ['leaflet-ng-core', 'leaflet-ng-layers', 'leaflet-ng-markers']).controller('exampleCtrl', ['$scope', 'leafletData', '$timeout', function ($scope, leafletData, $timeout) {
        $scope.defaults = {
            layers: [L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 18, visible: true})]
        };

        $scope.center = {
            lat: 0,
            lng: 0,
            zoom: 3
        };

        $scope.markers = {
            'first': {
                lat: 0,
                lng: 0,
                options: {
                    test: 'asdf'
                }
            },
            'second': {
                lat: 10,
                lng: 10,
                options: {
                    test: 'fasd'
                }
            }
        };
    }]);
</script>

</html>